<form>
    Date: 
    <input id="date" type="text" placeholder="YYYY-MM-DD" readonly/>
    <img src="scripts/cal/cal.gif" 
                 onclick="NewCssCal('date', 'yyyyMMdd', 'dropdown');" 
                 style="cursor:pointer"/>
    Long Weekends Before: 
    <input type="radio" ng-model="longWeekend.selector" value="0" />
    Long Weekends After: 
    <input type="radio" ng-model="longWeekend.selector" value="1" />
    <button ng-click="longWeekend.process();">Find Long Weekends</button>
</form>
