body{
    background-color: #EFEFEF;
}

a{
    color: #08C;
}

#nav, #display{
    position: absolute;
    top: 5%;
}

#nav{
    left: 2%;
    height: 100%;
}

#list{
    list-style-type: none;
}

#display{
    left: 15%;
    min-height: 40%;
    min-width: 40%;
}
