<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LongWeekend</servlet-name>
        <servlet-class>publicholidays.LongWeekend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidaysFrom</servlet-name>
        <servlet-class>publicholidays.HolidaysFrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidaysBetween</servlet-name>
        <servlet-class>publicholidays.HolidaysBetween</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LongWeekendBefore</servlet-name>
        <servlet-class>publicholidays.LongWeekendBefore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LongWeekendAfter</servlet-name>
        <servlet-class>publicholidays.LongWeekendAfter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LongWeekend</servlet-name>
        <url-pattern>/LongWeekend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidaysFrom</servlet-name>
        <url-pattern>/HolidaysFrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidaysBetween</servlet-name>
        <url-pattern>/HolidaysBetween</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LongWeekendBefore</servlet-name>
        <url-pattern>/LongWeekendBefore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LongWeekendAfter</servlet-name>
        <url-pattern>/LongWeekendAfter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
